<% content_for :header do %>
    <h1>Joe Dye</h1>
    <p>
        <a href="mailto:jdye94@gmail.com">jdye94@gmail.com</a>
    </p>
    <ul>
        <li><a href="/joseph_dye_resume2016.pdf">Resume</a></li>
        <li><a href="https://github.com/dyej/">GitHub</a></li>
    </ul>
<% end %>

<% content_for :container do %>
    <h1>Hello <%= name %>!</h1>
<% end %>