<% content_for :container do %>
    <% @@paragraph_data.each do |paragraph| %>
        <h3>
            <%= paragraph['heading'] %>
        </h3>
        <p>
            <%= paragraph['content'] %>
        </p>
    <% end %>
<% end %>
