<% content_for :container do %>
    <a href="/">Home</a>
    <hr>
    <h1>Combine PDFs</h1>
    <form action="/utils/pdf/combine" method="POST" enctype="multipart/form-data">
        <ol>
            <% @@num_uploads.times do |i| %>
                <li><input type="file" name="file<%= i %>"></li><br>
            <% end %>
            <input type="submit" class="nostyle" value="+" name="commit">
        </ol>
        <hr>
        <input type="submit" value="Submit" name="commit">
    </form>
<% end %>
