<% content_for :container do %>
    <h1>Upload File</h1>
    <form action="/save_file" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>
    <form action="/upload" method="post" enctype="multipart/form-data"> 
      <input type="file" name="images[]" multiple /> 
      <input type="submit" /> 
    </form>
<% end %>
